{% extends "private_base.html" %}

{% block title %}Grupos{% endblock title %}

{% block content %}
  <div id="page-head">
    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
      <h1 class="page-header text-overflow">Mis Grupos</h1>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->


    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}"><i class="pli-home"></i></a></li>
      <li><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
      <li class="active">Mis Grupos</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->
  </div>


  <!--Page content-->
  <!--===================================================-->
  <div id="page-content">
    <div class="fixed-fluid">
      <div class="fixed-sm-250 pull-sm-right">
        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Buscador</p>
        <div class="input-group bg-trans pad-btm pad-rgt pad-lft bord-btm">
          <input id="group-filter" type="text" placeholder="Nombre" class="form-control"/>
          <span class="input-group-btn">
            <button id="search-btn" class="btn btn-primary add-tooltip" data-original-title="Buscar" type="button">
              <i class="pli-magnifi-glass icon-lg"></i>
            </button>
            <a id="search-link"></a>
          </span>
        </div>
      </div>
      <div class="fluid">
        <div id="groups" class="blog blog-list">
          {% for obj in object_list %}
            <div class="training-unit-panel panel">
              <div class="blog-content">
                <div class="blog-title media-block">
                  <div class="media-right textright">
                    <a class="btn btn-icon pli-male-female icon-lg add-tooltip" data-toggle="tooltip"
                       data-placement="top" data-original-title="Matriculados" data-container="body"
                       href="{% url 'enrollment:enrollment' pk=obj.pk %}"></a>
                  </div>
                  <div class="media-body">
                    <h2> {{ obj.name }} </h2>
                  </div>
                </div>
                <div class="blog-body">
                  <p><b>Plan de capacitación:</b> {{ obj.training_unit.name }}</p>
                  <p><b>Modalidad:</b> {{ obj.get_modality_display }}</p>
                  <p><b>Fecha de inicio de clases:</b> {{ obj.classes_starts_at|date:"d \d\e F \d\e Y" }}</p>
                  <p><b>Fecha de finalización de clases:</b> {{ obj.classes_ends_at|date:"d \d\e F \d\e Y" }}</p>
                </div>
              </div>
              <div class="blog-footer">
                <div class="media-left">
                  <label class="label label-default"><i class="pli-tag"></i> {{ obj.training_unit.get_type_display }}</label>
                  <label class="label label-default"><i class="pli-tag"></i> {{ obj.training_unit.get_difficulty_level_display }}</label>
                  <label class="label label-default"><i class="pli-tag"></i> {{ obj.training_unit.duration }} Horas</label>
                </div>
                <div class="media-body text-right">
                </div>
              </div>
            </div>
          {% empty %}
            <div class="training-unit-panel panel">
              <p class="text-center label-warning text-dark">No hay grupos asociados con el usuario.</p>
            </div>
          {% endfor %}
          <ul class="pager pager-rounded">
            <li class="previous">
              {% if page_obj.has_previous %}
                <a class="btn btn-default btn-rounded" style="float: left;"
                   href="?page={{ page_obj.previous_page_number }}">← Anterior</a>
              {% else %}
                <a class="btn btn-default btn-rounded disabled" style="float: left;" href="#">← Anterior</a>
              {% endif %}
            </li>
            <li class="next">
              {% if page_obj.has_next %}
                <a class="btn btn-default btn-rounded" style="float: right;"
                   href=" ?page={{ page_obj.next_page_number }}">Siguiente →</a>
              {% else %}
                <a class="btn btn-default btn-rounded disabled" style="float: right;" href="#">Siguiente →</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script type="text/javascript">
    $(document).ready(function () {
      $("#search-btn").on('click', function () {
        var filter_text = $("#group-filter").val();
        if (filter_text !== "") {
          var url = '{% url "enrollment:group-list" %}?filter=' + filter_text;
          $("#search-link").attr('href', url);
          document.getElementById('search-link').click();
        }
      });

    });
  </script>
{% endblock script %}
