{% extends "pages/base_account.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<div id="container" class="cls-container">
  <!-- CONTENT -->
  <!--===================================================-->
  <div class="cls-content">
    <h1 class="error-code text-info">500</h1>
    <p class="h4 text-uppercase text-bold">
      ¡Error Interno del Servidor!</p>
    <div class="pad-btm">
      Algo salió mal y el servidor no pudo procesar su solicitud.
    </div>
    <div class="pad-top"><a class="btn btn-primary" href="{% url 'home' %}">Regresar a inicio</a></div>
  </div>
</div>
{% endblock content %}
