{% extends "breadcrumbed_base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block title %}DGDP | Agregar Espacio{% endblock title %}
{% block page-header %}Espacio físico{% endblock page-header %}

{% block head %}
  <link href="{% static "plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css" %}" rel="stylesheet">
  <link type='text/css' href="{% static "plugins/bootstrap-select/bootstrap-select.min.css" %}" rel="stylesheet">
  <link type='text/css' href="{% static "plugins/chosen/chosen.min.css" %}" rel="stylesheet">
  <style>
    .col-sm-6.quantity-col{
      width: 45%;
    }
    .remove-button{
      vertical-align: -33px;
      display: inline-block;
      text-align: right;
      right: 0;
    }
  </style>
{% endblock head %}

{% block content %}
  <div id="page-content">
    <form id="space-form" method="post">
      {% csrf_token %}
      <div class="panel">
        <div class="panel-body">
          <div class="fixed-fluid">
            <div class="fixed-sm-250 pull-sm-right">
              <div class="pad-top">
                <button type="submit" class="btn btn-default btn-block btn-hover-primary">
                  <i class="pli-data-storage"></i> Guardar
                </button>
                <hr/>
                <a href="{% url 'spaces:physical-spaces:all' %}" class="btn btn-default btn-block btn-hover-warning">
                  <i class="pli-close"></i> Cancelar
                </a>
                <button type="button" class="btn btn-default btn-block btn-hover-danger">
                  <i class="pli-trash"></i> Eliminar
                </button>
              </div>
            </div>

            <div class="fluid fixed-right-border">
              <h4 class="pad-btm bord-btm mar-btm"><i class="psi-information icon-fw v-middle"></i> Datos Generales</h4>
              <div class="mar-btm">
                {{ form.location.as_hidden }}
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group {% if form.type.errors %}has-error{% endif %}">
                      <label class="control-label"><b>Tipo</b></label>
                      {{ form.type|add_class:"form-control chosen-select" }}
                      {% for error in form.type.errors %}
                        <small class="help-block">{{ error }}</small>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                      <label class="control-label"><b>Nombre</b></label>
                      {{ form.name|add_class:"form-control"|attr:"placeholder:Nombre" }}
                      {% for error in form.name.errors %}
                        <small class="help-block">{{ error }}</small>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                      <label class="control-label"><b>Descripción</b></label>
                      {{ form.description|add_class:"form-control"|attr:"placeholder:Descripción" }}
                      {% for error in form.description.errors %}
                        <small class="help-block">{{ error }}</small>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="select-county" class="control-label"><b>Ubicación</b></label>
                      <select id="select-county" class="form-control chosen-select" data-placeholder="...">
                        <option value=""></option>
                        {% for state in states %}
                          <optgroup label="{{ state.name }}">
                            {% for county in state.counties %}
                              <option value="{{ county.id }}" {% if form.instance.location.pk == county.id %}selected{% endif %}>{{ county.name }}</option>
                            {% endfor %}
                          </optgroup>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="control-label"><b>Organización</b></label>
                      {{ form.organization|add_class:"form-control chosen-select" }}
                    </div>
                  </div>
                </div>
                <br/>
              </div>

              <h4 class="pad-btm bord-btm mar-ver"><i class="psi-list-view icon-fw v-middle"></i> Recursos</h4>
              <div>
                {{ physical_space_resource_form_set.management_form }}
                {{ physical_space_resource_form_set.non_form_errors }}
                {% for physical_space_resource_form in physical_space_resource_form_set %}
                  {{ physical_space_resource_form.id }}
                  <div class="row form-set {{ physical_space_resource_form_set.prefix }}">
                    {% if physical_space_resource_form_set.can_delete %}{{ physical_space_resource_form.DELETE }}{% endif %}
                    <div class="col-sm-5">
                      <div class="form-group {% if physical_space_resource_form.type.errors %}has-error{% endif %}">
                        <label class="control-label"><b>Tipo</b></label>
                        {{ physical_space_resource_form.type|add_class:"form-control" }}
                        {% for error in physical_space_resource_form.type.errors %}
                          <small class="help-block">{{ error }}</small>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label class="control-label"><b>Cantidad</b></label>
                        {{ physical_space_resource_form.quantity|add_class:"form-control" }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static "plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js" %}"></script>
  <script src="{% static "plugins/bootstrap-select/bootstrap-select.min.js" %}"></script>
  <script src="{% static "plugins/chosen/chosen.jquery.min.js" %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      $('.chosen-select').chosen({width:'100%'});
      $('#select-county').on('change', function (e) {
        $('[name="location"]').val($(this).val());
      });

      $(".form-set.{{ physical_space_resource_form_set.prefix }}").formset({
        prefix: "{{ physical_space_resource_form_set.prefix }}",
        formCssClass: "physical-space-resource-form-set",
        addCssClass: "btn btn-info",
        addText: "<i class='psi-add'></i> Agregar recurso",
        deleteCssClass: "some-class",
        deleteText: "<i class='pli-trash icon-lg remove-button'></i>"
      });

      // Remover formset extra
      if($(".form-set.{{ physical_space_resource_form_set.prefix }}").length > 1){
        $(".form-set.{{ physical_space_resource_form_set.prefix }}").last().remove();
      }
    });
  </script>
{% endblock script %}
