{% extends 'pages/base_account.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Nueva Contraseña{% endblock %}
{% block content %}
<div id="container" class="cls-container">
  <div class="cls-content">
  <div class="cls-content-sm panel">
  {% if validlink %}
    <h3>Nueva Contraseña</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-mint" type="submit">Listo</button>
    </form>
  {% else %}
    <p>
     El enlace para restablecer la contraseña no era válido, posiblemente porque ya se ha utilizado.
     Por favor, solicite un nuevo restablecimiento de contraseña.
    </p>
  {% endif %}
</div>
</div>
</div>
{% endblock %}