{% extends "public_base.html" %}

{% load i18n %}
{% comment %} {% load account %} {% endcomment %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div id="container" class="cls-container bg-default">
  <div class="cls-content">
    <div class="cls-content-sm">
      <div class="panel">
        <div class="panel-body">
            <h1 class="h3">Restablecer Contraseña</h1>
            {% if user.is_authenticated %}
                {% comment %} {% include "account/snippets/already_logged_in.html" %} {% endcomment %}
                <h1>Ya iniciado sesión</h1>
            {% endif %}

            <p>{% trans "Ingrese su dirección de correo electrónico a continuación y le enviaremos un acceso que le permitirá reestablecer su contraseña." %}</p>
            <br/>
            <form method="POST" action="{% url 'account_password_reset' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary btn-block" type="submit" value="{% trans 'Enviar' %}" />
            </form>
            <br/>
            <p>{% blocktrans %}Si tiene problemas para restablecer su contraseña, contáctenos para asistirle.{% endblocktrans %}</p>
            <a class="btn-link" href="{% url 'home' %}">Regresar a Inicio</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

