{% extends "pages/base_account.html" %}

{% load i18n %}
{% comment %} {% load account %} {% endcomment %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div id="container" class="cls-container">
  <div class="cls-content">
    <h1>Contraseña Restablecida</h1>
    
    {% if user.is_authenticated %}
    {% comment %} {% include "account/snippets/already_logged_in.html" %} {% endcomment %}
    <h1>Ya has Iniciado Sesión</h1>
    {% endif %}
    
    <p>{% blocktrans %}Te hemos enviado un enlace a tu correo electrónico. Por favor, contáctenos si no lo recibe en unos minutos.{% endblocktrans %}</p>

</div>
</div>
{% endblock %}

